<div class="container">
    <div class="row">
        <img id="burger-image" src="https://myrealdomain.com/images/big-mac-clipart-2.png" height="200px" width="200px">
        <h1 class="heading">Eat-Da-BURGER!</h1>
    </div>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <h3>Burgers to Devour!</h3>
            <ul id="burgers-to-devour">

                {{#each burgers}}
                {{#unless devoured}}
                <li> {{this.id}}. {{this.burger_name}}
                    <!--button in index.handlebars that will submit the user input into the database. -->
                    <button class="devour" data-burgerid="{{id}}"> Devour it:</button> </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="col-md-6">
            <ul id="burgers-devoured">
                <h3>Burgers Devoured:</h3>
                {{#each burgers}}
                {{#if this.devoured}}
                <li> {{this.id}}.{{this.burger_name}}</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<br>
<br>

<form class="burger-form form-inline">
    <input type="text" name="burger" id="burgerName" class="form-control input-sm"></input>
    <h4>Click the "Add Burger" button to add the burger you want to eat.</h4>
    <button type="submit" class="btn btn-lg btn-success" id="add-burger">Add Burger</button>


</form>

</div>